<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">Tech Radar</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, {{user?.username}}</h1>
        <p>The radar is a document that sets out the changes that we think are currently interesting in software development - things in motion that we think you should pay attention to and consider using in your projects. It reflects the idiosyncratic opinion of a bunch of senior technologists based on our day-to-day work and experiences. While we think this is interesting, it should not be taken as a deep market analysis.</p>
        <p><a class="btn btn-primary btn-lg" href="https://www.thoughtworks.com/radar" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<router-outlet></router-outlet>
